body {
    margin: 0px;
    background-color: #F9F7F0;
    background-size: cover;
    
    margin: 0;
    padding: 0;
}

.welcomesentence {
    height: 90vh;
    align-content: center;
}

h1{
    color: #878264;
    text-align: center;
    font-size: 120px;
    font-weight: bold;
    margin: 50px;
}

#navbar{
padding: 20px; 
text-align: center;
border-bottom: 2px solid #878264;
background-image: url(/portfolio/images/Asset\ 4.jpg);
background-size: 450px;
}


.navbar-link a.active {
    text-transform: uppercase;
    font-weight: bold;

}

.navbar-link a:hover {
    color: #585644;
    font-weight: bold;  
}

.navbar-link a {
    color: #878264;
    text-decoration: none;
    text-transform: none;
    margin-right: 150px;
    margin-left: 150px;
    

}
                  


